<div class="h-full p-4">
    <p-panel [showHeader]="false" styleClass="h-20rem mb-2 flex flex-column-reverse overflow-auto">
        @for (log of logs; track $index) {
            <div>{{log}}</div>
        }
    </p-panel>
    
    <p-button label="Select Folder" (click)="selectFolder()" [loading]="process_ongoing"/>
    @if (process_ongoing) {
        <p-button label="Cancel" class="px-2" (click)="process_ongoing=false"/> 
    }

    <p-treeTable [value]="stats" styleClass="p-treetable-gridlines mt-2">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th style="width: 200px;">Size</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode" />
                    {{ rowData.path }}
                </td>
                <td style="width: 200px;">{{(rowData.size/(1024*1024)) | number: '1.4-5' }} MB</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            @if (process_ongoing)  {

                <tr>
                    <td [attr.colspan]="2">Loading data</td>
                </tr>
            }
        </ng-template>
    </p-treeTable>

</div>
