<div class="h-full p-4">
    <div class="flex">
        <p-button label="Select Folder" (click)="getFolderStats()" [loading]="process_ongoing"/>
        @if (process_ongoing) {
            <p-button label="Cancel" class="px-2" (click)="process_ongoing=false"/> 
        }
        <div class="mx-auto"></div>
        @if (stats.length > 0) {
            <a class="p-button no-underline" [href]="uri" download='data.json'>Export</a>
        }
        <p-button class="px-2" label="Import" (click)="import()" />
    </div>

    <p-treeTable [value]="stats" styleClass="p-treetable-gridlines mt-2">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th style="width: 200px;">Size</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode" />
                    {{ rowData.name || rowData.path }}
                </td>
                <td style="width: 200px;">{{(rowData.size/(1024*1024)) | number: '1.4-5' }} MB</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            @if (process_ongoing)  {

                <tr>
                    <td [attr.colspan]="2">Loading data</td>
                </tr>
            }
        </ng-template>
    </p-treeTable>

</div>
